{% extends 'todo/_base.html' %}
{% block content %}
<div class="container">
    <h1>All Tasks</h1>
    <a href="{% url 'create-task' %}" class="btn btn-primary btn-create-task">Create a Task</a>
    <a href="{% url 'logout-user' %}" class="btn btn-primary btn-create-task">Logout</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Task</th>
                <th>Content</th>
                <th>Created</th>
                <th>Completed</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td><a href="{% url 'update-task' todo.id %}" class="btn btn-warning">{{ todo.title }}</a></td>
                <td>{{ todo.content }}</td>
                <td>{{ todo.created }}</td>
                <td>{% if todo.completed %}<span class="text-success">Yes</span>{% else %}<span
                    class="text-danger">No</span>{% endif %}</td>
                <td><a href="{% url 'delete-task' todo.id %}" class="btn btn-warning">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}